<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite dashboard">
	<test thread-count="1" parallel="tests" name="Test1">
		<classes>
			<class name="com.educian.Testcases.createstudentTest" />
			<class name="com.educian.Testcases.ValidateLoginTestcase" />
		</classes>
	</test> <!-- Test1 -->
</suite> <!-- Suite dashboard -->
